.formEnter {
    width: 368px;
    height: 224px;
    margin: 20% 10% 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .formEnter {
        margin: 60% auto 0;
    }
}

