.headerCard {
    width: 198px;
    height: 40px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .headerCard {
        margin-bottom: 30px;
    }
}

.headerLogo {
    width: 104.4px;
    height: 36px;
}

.headerTitle {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
}