.passwordCard {
    background: rgba(177, 177, 177, 0.32);
    border-radius: 4px;
    color: #FFFFFF;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 368px;
    height: 60px;
    padding: 0 10px;
}

.passwordLabel {
    opacity: 0.5;
    font-size: 12px;
    line-height: 16px;
    width: 30px;
    height: 16px;
}

.passwordInput {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    width: 159px;
    height: 24px;
}

.passwordInput:focus {
    outline: none;
}

.passwordLoginButton {
    display: flex;
    justify-content: space-between;
}